.Head {
	
	background-color: dodgerblue;
	height: 200px;
	position:relative;
	width: 1000px;
	left:150px;
}


.HeadInfo {
	text-align: center;
	background-color: dodgerblue;
	width: 300px;
	position: relative;
	bottom: 175px;
	left:450px;
	border: thin solid white;
	padding: 3px 60px;
}

h1{
	color: white;
	font-family: Georgia,"Times New Roman", serif;
}
 p.Occupation {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.grid {
	display: inline-grid;
	width: 1000px;
	grid-template-columns: 300px 500px;
	position: relative;
	bottom: 100px;
	left: 300px;
	grid-column-gap: 15px;

}
.contact-section {
	background-color: lightgray;
	padding-left: 10px;
}
img.RichardoPic {
	border-radius: 100%;
}
.Pic-of-Ric{
	text-align:center;
	position: relative;
	top: 10px;
}

.phone-number ,.email , .website, .instagram{
	display: inline;
	margin:5px;
}

#hori-line {
	width:500px;
	height: 2px;
	background-color: silver;

}

.date1{
	font-weight: bold;
}

.Job-Position{
	float:right;
	position:relative;
	bottom:60px;
	right: 300px;
}

.Pos-Descrip{
	position: relative;
	left: 100px;
}
/*.Job-Position{
	float: right;
	position: relative;
	bottom: 55px;
}*/


/*.a{
	width: 300px;
}
.b{
	width: 300px;
}
*/
 .list {
 	display:grid;
 	width: 100px;
 	align-content: right;
 	

 }

