.Head {
	
	background-color: dodgerblue;
	height: 200px;
	position:relative;
	width: 1000px;
	left:150px;
}


.HeadInfo {
	text-align: center;
	background-color: dodgerblue;
	width: 300px;
	position: relative;
	bottom: 175px;
	left:435px;
	border: thin solid white;
	padding: 3px 60px;
}

h1{
	color: white;
	font-family: Georgia,"Times New Roman", serif;
}
 p.Occupation {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.grid {
	display: inline-grid;
	width: 820px;
	grid-template-columns: 300px 500px;
	position: relative;
	bottom: 100px;
	left: 240px;
	grid-column-gap: 15px;
}

.contact-section {
	background-color: lightgray;
	padding-left: 10px;
}
img.RichardoPic {
	border-radius: 100%;
	width: 100px;
	height:100px;
}
.Pic-of-Ric{
	text-align:center;
	position: relative;
	top: 10px;
}

.phone-number ,.email , .website, .instagram, .facebook{
	display: inline;
	margin:5px;

}



#hori-line {
	width:500px;
	height: 2px;
	background-color: silver;

}

#hori-line2 {
	width:280px;
	height: 2px;
	background-color: black;
	margin-top: 30px;
	
}
.date1, .date2, .date3{
	font-weight: bold;
}

.Job-Position{
	float:right;
	position:relative;
	bottom:55px;
	right: 300px;
}

.Pos-Descrip{
	position: relative;
	left: 100px;
}

.Degree{
	float: right;
	position: relative;
	bottom: 55px;
	right: 185px;
}

.Deg-Descrip, .Deg-Descrip1{
	position: relative;
	left: 105px;
}

 .list {
 	width: 120px;
 	float: right;
 	position: relative;
 	bottom: 100px;
 	right: 130px;
 	
 	

 }

