.Head {
	
	background-color: dodgerblue;
	height: 200px;
	position:relative;
	width: 1000px;
	left:150px;
}


.HeadInfo {
	text-align: center;
	background-color: dodgerblue;
	width: 300px;
	position: relative;
	bottom: 175px;
	left:450px;
	border: thin solid white;
	padding: 3px 60px;
}

h1{
	color: white;
	font-family: Georgia,"Times New Roman", serif;
}
 p.Occupation {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

.grid {
	display: inline-grid;
	width: 1000px;
	grid-template-columns: 300px 500px;
	position: relative;
	bottom: 100px;
	left: 300px;
	grid-column-gap: 15px;

}
.contact-section {
	background-color: lightgray;
}
img['src'] {
	border-radius: 100%;
}


